.main {

    // width: 100%;
    margin-top: 2em;

    .links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            color: black;
            background-color: paleturquoise;
            padding: 1em;
            margin: 1em;
            border-radius: 5px;
            transition: .5s ease-in;

            &:hover {
                color: white;
                background-color: purple;
            }

        }

        // gap: 5em;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {}

        img {
            max-width: 95%;
            // min-width: 80%;
            margin-block: 1em;
        }
    }

}